<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API IoT</title>
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/image/favicon-16x16.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
</head>

<body>
    <div class="container">
        <h1>API IoT</h1>

        <!-- Formulario para enviar nuevos datos -->
        <h2>Enviar datos</h2>
        <form id="dataForm">
            <input type="text" id="sensor" placeholder="Sensor" required>
            <input type="number" id="value" placeholder="Valor" required>
            <button type="submit">Enviar</button>
        </form>

        <!-- Formulario para eliminar datos por ID -->
        <h2>Eliminar datos</h2>
        <form id="deleteForm">
            <input type="number" id="dataId" placeholder="ID del registro" required>
            <button type="submit">Eliminar</button>
        </form>

        <!-- Formulario para actualizar datos por ID -->
        <h2>Actualizar datos</h2>
        <form id="updateForm">
            <input type="number" id="updateId" placeholder="ID del registro" required>
            <input type="text" id="updateSensor" placeholder="Nuevo Sensor" required>
            <input type="number" id="updateValue" placeholder="Nuevo Valor" required>
            <button type="submit">Actualizar</button>
        </form>

        <!-- Botón para mostrar los datos almacenados -->
        <h2>Datos almacenados</h2>
        <button id="fetchDataButton">Mostrar datos</button>

        <!-- Tabla para mostrar los datos como gráfico -->
        <div id="dataDisplay">
            <table class="charts-css column">
                <caption>Gráfico de valores de sensores</caption>
                <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Valor</th>
                        <th>Time</th>

                    </tr>
                </thead>
                <tbody id="dataTableBody">
                    <!-- Los datos se llenarán desde script.js -->
                </tbody>
            </table>
        </div>

        <div id="response"></div>
    </div>

    <!-- Conectar al script de JS para manejar eventos -->
    <script src="/static/script.js"></script>
</body>

</html>